*{
  margin: 0;
  padding: 0;
}
ul, ol{list-style: none;}
img{vertical-align: middle;}
a{text-decoration: none;}
small.subtitle{font-size: 14px; color: #666;text-transform: capitalize;
  font-family: "Times New Roman", Times, serif, HELVETICANEUELTPRO-THEX, "微软雅黑";}

:root{
  --theme: #c98a3c;
  --theme2: #ecd384;
  --white: #fff;
  --black: #333;
  
  --gray: #efefef;
  --gray2: #f3f3f3;
  --gray3: #696969;
  --gray4: #999;

  --blue: rgb(1, 77, 163);
}

h1, h2, h3, 
h4, h5, h6{
  font-weight: normal;
}

.flex{display: flex;}
.flex-1{flex: 1;}
.flex-col{flex-direction: column;}
.j-center{justify-content: center;}
.j-between{justify-content: space-between;}
.j-around{justify-content: space-around;}
.a-center{align-items: center;}

.text-left{text-align: left;}
.text-right{text-align: right;}
.text-center{text-align: center;}

.clearfix:after,
.clearfix:before{
  content: "";
  display: table;
  clear: both;
}

.container{
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}

.address{text-decoration: underline wavy;}
  
.tran{transition: .4s;}

.dot{
  display: -webkit-box;
  -webkit-box-orient: vertical;
  text-overflow: ellipsis;  
  overflow: hidden;
}
.dot-1{-webkit-line-clamp: 1;}
.dot-2{-webkit-line-clamp: 2;}
.dot-3{-webkit-line-clamp: 3;}
.dot-4{-webkit-line-clamp: 4;}

.img-responsive{
  display: block;
  max-width: 100%;
  object-fit: cover;
}

.oc{object-fit: cover;}

.oh{overflow: hidden;}

:root .uppercase{text-transform: uppercase;}

.mt-0{margin-top: 0px;}
.mt-10{margin-top: 10px;}
.mt-20{margin-top: 20px;}
.mt-30{margin-top: 30px;}
.mt-40{margin-top: 40px;}
.mt-50{margin-top: 50px;}
.mr-10{margin-right: 10px;}
.mr-20{margin-right: 20px;}
.mr-30{margin-right: 30px;}
.mr-40{margin-right: 40px;}
.mr-50{margin-right: 50px;}
.ml-10{margin-left: 10px;}
.ml-20{margin-left: 20px;}
.ml-30{margin-left: 30px;}
.ml-40{margin-left: 40px;}
.ml-50{margin-left: 50px;}
.mb-10{margin-bottom: 10px;}
.mb-20{margin-bottom: 20px;}
.mb-30{margin-bottom: 30px;}
.mb-40{margin-bottom: 40px;}
.mb-50{margin-bottom: 50px;}

.module-box{
  margin-top: 100px;
}