*{
  margin: 0;
  padding: 0;
}
html {
  scroll-behavior: smooth;
}
body{
  /* background-image: url("https://ss2.bdstatic.com/70cFvnSh_Q1YnxGkpoWK1HF6hhy/it/u=2998404956,1450338004&fm=26&gp=0.jpg");
  background-repeat: no-repeat;
  background-size: cover; */
}

ul, ol{list-style: none;}
img{vertical-align: middle;}
a{text-decoration: none;}
small.subtitle{font-size: 14px; color: #666;text-transform: capitalize;
  font-family: "Times New Roman", Times, serif, HELVETICANEUELTPRO-THEX, "微软雅黑";}
.title>.subtitle {
    display: block;
    padding-top: 20px;
    color: var(--gray4);
}

:root{
  --theme: #c98a3c;
  --theme2: #ecd384;
  --white: #fff;
  --black: #333;
  
  --gray: #efefef;
  --gray2: #e6e6e6;
  --gray3: #696969;
  --gray4: #999;

  --blue: rgb(1, 77, 163);
}

h1, h2, h3, 
h4, h5, h6{
  font-weight: normal;
}

mark{
  background-color: transparent;
  color: inherit;
  text-decoration: underline wavy;
}

.flex{display: flex;}
.flex-1{flex: 1;}
.flex-wrap{flex-wrap: wrap;}
.flex-col{flex-direction: column;}
.j-center{justify-content: center;}
.j-between{justify-content: space-between;}
.j-around{justify-content: space-around;}
.a-center{align-items: center;}

.text-left{text-align: left;}
.text-right{text-align: right;}
.text-center{text-align: center;}

.clearfix:after,
.clearfix:before{
  content: "";
  display: table;
  clear: both;
}

.container{
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}

.address{text-decoration: underline wavy;}
  
.tran{transition: .4s;}

.dot{
  display: -webkit-box;
  -webkit-box-orient: vertical;
  text-overflow: ellipsis;  
  overflow: hidden;
}
.dot-1{-webkit-line-clamp: 1;}
.dot-2{-webkit-line-clamp: 2;}
.dot-3{-webkit-line-clamp: 3;}
.dot-4{-webkit-line-clamp: 4;}

.img-responsive{
  display: block;
  max-width: 100%;
  object-fit: cover;
}

.oc{object-fit: cover;}

.oh{overflow: hidden;}

:root .uppercase{text-transform: uppercase;}

.mt-0{margin-top: 0px;}
.mt-10{margin-top: 10px;}
.mt-20{margin-top: 20px;}
.mt-30{margin-top: 30px;}
.mt-40{margin-top: 40px;}
.mt-50{margin-top: 50px;}
.mr-10{margin-right: 10px;}
.mr-20{margin-right: 20px;}
.mr-30{margin-right: 30px;}
.mr-40{margin-right: 40px;}
.mr-50{margin-right: 50px;}
.ml-10{margin-left: 10px;}
.ml-20{margin-left: 20px;}
.ml-30{margin-left: 30px;}
.ml-40{margin-left: 40px;}
.ml-50{margin-left: 50px;}
.mb-10{margin-bottom: 10px;}
.mb-20{margin-bottom: 20px;}
.mb-30{margin-bottom: 30px;}
.mb-40{margin-bottom: 40px;}
.mb-50{margin-bottom: 50px;}

.module-box{
  margin-top: 100px;
}



/* 查看更多 */
.more-btn a {
  display: inline-block;
  padding: 10px 20px;
  box-shadow: 0 2px 12px #e2e2e2;
  background-color: rgb(201 138 60 / .6);
  border-radius: 3px;
  transition-property: background-color;
  color: var(--white);
  font-size: 14px;
  position: relative;
  overflow: hidden;
}

.more-btn a::before {
  content: attr(data-words);
}

.more-btn a::after {
  content: "";
  position: absolute;
  width: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background: rgb(201 138 60 / 1);
  z-index: -1;
  transition-property: transform, width;
  transition: .16s;
}

.more-btn a:hover::after {
  left: 0;
  width: 100%;
}

/* 查看更多End */


.module-box .title {
  -webkit-clip-path: inset(0 50% -10% 50%);
  clip-path: inset(0 50% -10% 50%);
  user-select: none;
}

.title.showIn {
  animation: clipAppear 3s forwards;
  animation-timing-function: ease-in-out;
}


.decorate-box{
  position: relative;
}
.decorate-box::after{
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: rgb(0 0 0 / .4);
}
.head-decorate{
  width: 100%;
  height: 320px;
  object-fit: cover;
}
/* 
.head-decorate{
  position: relative;
  padding: 14% 50%;
}
.head-decorate img{
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  object-fit: cover;
} */

.dec-media{
  width: 100%;
  height: 100vh;
  box-shadow: 0px 5px 13px rgb(0 0 0 / .5);
}
.dec-media::after{
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgb(0 0 0 / .4);
}
.dec-media > video{
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* 分页 */
.pagination-box{
  margin-top: 30px;
}
.pagination{
  display: inline-flex;
}
.pagination > .item + .item{
  margin-left: 10px;
}
.pagination > .item{
  text-align: center;
  padding: 0 10px;
  line-height: 30px;
  border: 1px solid;
  cursor: pointer;
  user-select: none;
  border-radius: 4px;
}
.pagination > .item.active{
  color: var(--white);
  border: none;
  background: var(--theme);
}
/* 分页End */


@keyframes clipAppear {
  75% {
    -webkit-clip-path: inset(0 0 -10% 0);
    clip-path: inset(0 0 -10% 0);
  }

  90% {
    transform: scale(1.1);
  }

  100% {
    -webkit-clip-path: inset(0 0 -10% 0);
    clip-path: inset(0 0 -10% 0);
    transform: scale(1);
  }
}